<!DOCTYPE html>
<html>
    <head>
        <title>Placement Predictions</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Prediction the Placement of Students</h1>
        <p>
            This web application allows a user to prediction whether a student will get placed.<br><br>
            The prediction will be based on several parameters such as IQ, CGPA, communication skills and project completed.<br><br>
            Please click on the button to begin!
        </p>
        <div style="text-align: center;">
            <a href="{{ url_for('main.predict_datapoint') }}" target="_blank">
                <button style="background-color: blue; color:white;">Predict Placement</button>
            </a>
        </div>
    </body>
</html>