<!DOCTYPE html>
<html> 
    <head> 
        <title>Predict Student Placements</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body> 
        <a href="https://github.com/abbeymaj/placement" class="top-left-link" target="_blank">GitHub Repository</a>
        <h1 class="centered-heading">Predicting Student Placements</h1>
        <img src="{{ url_for('static', filename='images/placements.png') }}" alt="main image" class="profile">
        <div class="form-box"> 
            <form action="{{ url_for('main.predict_datapoint') }}" method="POST">
                <div class="form-group">
                    <label for="iq">IQ</label>
                    <input type="number" id="iq" name="iq" placeholder="Enter IQ" value="{{ request.form.get('iq', '') }}" required>
                </div>
                <div class="form-group">
                    <label for="cgpa">CGPA</label>
                    <input type="float" id="cgpa" name="cgpa" placeholder="Enter CGPA" value="{{ request.form.get('cgpa', '') }}" required>
                </div>
                <div class="form-group">
                    <label for="communication_skills">Communication Skills</label>
                    <input type="number" id="communication_skills" name="communication_skills" placeholder="Enter a number" value="{{ request.form.get('communication_skills', '') }}" required>
                </div>
                <div class="form-group">
                    <label for="projects_completed">Projects Completed</label>
                    <input type="number" id="projects_completed" name="projects_completed" placeholder="Enter a number" value="{{ request.form.get('projects_completed', '') }}" required>
                </div>
                <div style="clear:both;">
                    <input type="submit" value="Predict" class="button">
                </div>
            </form>
        </div>
        <h2>
            Based on your input, the predicted placement is: {{ result }}.
        </h2>
    </body>
</html>